.marks {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.markerline {
  stroke: red;
  stroke-width: 2;
}

.markerLineText {
  fill: red;
  font-size: 1.5em;
}

/* Hide the external border of the axis */
.axis path {
  display: none;
}

.axisLabel,
.title {
  fill: #635f5d;
}
.axisLabel {
  font-size: 1.8em;
}

.title {
  font-size: 2.5em;
}
