.xLabel {
  text-anchor: middle;
}

.yLabel {
  text-anchor: end;
}

.tick line {
  stroke: #c0c0bb;
}
.tick text {
  fill: #635f5d;
  font-size: 1.2em;
}

.mark {
  fill: #e3ba22;
}

.axisLabel {
  font-size: 2.5em;
  fill: #635f5d;
}
